.video-item{
    display: flex !important;
    align-items: center;
    cursor: pointer;
    @media only screen and (max-width:800px){
        width: 100vw;
        padding: 10px;
        display: grid;
        flex-direction: column;
        align-items: center;
        grid-template-columns: 1fr 1fr;
      }
}
.video-item.item img{
    max-width: 180px;
}